/*document*/

body{
    background-color: #CDDDDD;
}

h1{
    text-align: center;
}

/*Header*/

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width:70%;
    margin: auto;
    background: linear-gradient(90deg, #ACBDBA,#051014);
    border-radius: 20px;
}

.banner p{
    font-family: 'Amatic SC', cursive;
    color: #CDDDDD;
    font-size: 3em;
}

/*Main*/

main{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    justify-content: space-around;
    align-items: center;

}

/*Nav*/

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #2E2F2F;
    height: 300px;
    margin-top: 50px;
    border-radius: 20px;
}

.menu li{
    font-size: 2em;
    list-style: none;
    margin: 5px;
}

.menu li a{
    color: #A599B5;
    text-decoration: none;
}

.menu li a:hover{
    color: #ACBDBA;
    opacity: 0.7;
}

/*Contact Form*/

.required{
    color: red;
}

.formulaire{
    margin: 5px;
    background-color: #2E2F2F;
    width: 70%;
    height: 300px;
    color: #CDDDDD;
}

input, textarea{
margin: 5px;
}